{% load static %}

{% if latest_alert_list %}
    <ul>
    {% for alert in latest_alert_list %}
        <h2>{{ alert.area_desc }}</h2>
        <h3>{{ alert.event }}</h3>
        <p>Certainty: {{ alert.certainty }}</p>
        <p>Severity: {{ alert.severity }}</p>
        <p>Urgency: {{ alert.urgency }}</p>
        <p>Sent: {{ alert.sent }}</p>
        <p>Sender: {{ alert.sender }}</p>
        <p>Geocode Name: {{ alert.geocode_name }}</p>
        <p>Geocode Value: {{ alert.geocode_value }}</p>
        <br><br>
    {% endfor %}
    </ul>
{% else %}
    <p>No alerts are available.</p>
{% endif %}